-f.hidden_field :user_id, :value => current_user.id

%br
= f.label :choose_the_category
= f.select :category, Track::CATEGORIES, :selected => params[:category], :include_blank => ''

%br
%br

%p=f.label :song_name
%p=f.text_field :name
%br

%p=f.label :enter_link_to_track   # f.label :upload_your_track
%p=f.text_field :link   # f.file_field :musicfile
%br
= f.submit "OK"
