%div.index
  %br/

  %h3=link_to "Add new track link", new_track_path

  %br/
  %p
    -@tracks.each do |track|
      =link_to track.name, track.link
      =track.category.blank? ? "( category not choosen )" : "( #{track.category} )"
      |
      =link_to "Edit", edit_track_path(track)
      |
      -if current_user.is_admin?
        = link_to 'Delete', track_path(track), :method => :delete, :class => "delete", :remote => true
      %br
      %br
