body { background:#F8F8F8; color:#bcc4bd;  background-image: url('body_back.png'); }

a {
   color:white;
  }

.login {margin-left:1em}

.rega {margin-left:1em}

.index { background-image: url('back.png'); background-repeat: repeat; padding:3em; text-align:center; }

.notes_background { background:#7F2F2F; width:550px; margin-left:10px; margin-bottom:10px;}
#notes {margin-left:10px; width:550px; background:#7F2F2F; color:white; padding:2.5px; font-size:16px; font-family:'Calibri'}
.topic {color:grey}
#note {margin-left:10px; width:530px; background:#BF2F2F; color:white; margin-bottom:10px; font-weight: bold; padding:2px; border-radius: 2px; }
.post_date { float:right; font-weight: lighter; font-size:0.8em; }
.del {float:right; font-size:0.9em; background:#a48173; padding:1px; border-radius: 2px; text-decoration: none;}
.wrote { background:grey; padding:1px; border-radius: 2px; }
.dateandoptions {color:black}

.tab { background-image: url('tab_back.png'); padding:5px}

.round {
        -moz-border-radius:    10px;
        -webkit-border-radius: 10px;
        border-radius:         10px;
        }

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
    }



#error_explanation {
  color: #000;
  width: 450px;
  border: 1px solid #C00000;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
        -moz-border-radius:    5px;
        -webkit-border-radius: 5px;
        border-radius:         5px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #98004F;
  color: #fff;
}

#error_explanation ul li {
  font-size: 14px;
  list-style: square;
}
